@charset "utf-8";
/* CSS Document */

.grouppic {
	position:absolute;
	width:100%;
	height:500px;
	top:60px;
	
}
.qoute {
	position:absolute;
	border:1px solid black;
	background-color:#fff;
	top:600px;
	right:0px;
	width:30%;
	height:550px;
}
.aboutart {
	width:60%;
	background-color:white;
	position:absolute;
	left:0px;
	height:590px;
	
	top: 600px;
	border-radius:10px;
}

.aboutart1  {
	border-radius:10px;
	background-color:white;
	position:absolute;
	width:100%;
	left:0px;
	top:1190px;
	height:400px;
}
.bottom {
	position:absolute;
	top:1600px;
	width:100%;
	height:70px;
}
